# Day3 Assignment

In [7]:
## Assignment - Explore this dataset using pandas...

In [8]:
import pandas as pd

In [9]:
df=pd.read_csv('https://download.bls.gov/pub/time.series/cu/cu.item',
                 sep='\t')

In [10]:
df

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358
...,...,...,...,...,...
394,SS68023,Tax return preparation and other accounting fees,4,T,352
395,SSEA011,College textbooks,3,T,314
396,SSFV031A,Food at elementary and secondary schools,3,T,122
397,SSGE013,Infants' equipment,3,T,355
398,SSHJ031,Infants' furniture,3,T,165

In [11]:
df.head()

,item_code,item_name,display_level,selectable,sort_sequence
0,AA0,All items - old base,0,T,2
1,AA0R,Purchasing power of the consumer dollar - old ...,0,T,399
2,SA0,All items,0,T,1
3,SA0E,Energy,1,T,374
4,SA0L1,All items less food,1,T,358

In [29]:
df[["item_name", "item_code"]]

                                             item_name item_code
0                                 All items - old base       AA0
1    Purchasing power of the consumer dollar - old ...      AA0R
2                                            All items       SA0
3                                               Energy      SA0E
4                                  All items less food     SA0L1
..                                                 ...       ...
394   Tax return preparation and other accounting fees   SS68023
395                                  College textbooks   SSEA011
396           Food at elementary and secondary schools  SSFV031A
397                                 Infants' equipment   SSGE013
398                                 Infants' furniture   SSHJ031

[399 rows x 2 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 399 entries, 0 to 398
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   item_code      399 non-null    object
 1   item_name      399 non-null    object
 2   display_level  399 non-null    int64
 3   selectable     399 non-null    object
 4   sort_sequence  399 non-null    int64
dtypes: int64(2), object(3)
memory usage: 15.7+ KB

In [6]:
df.describe()

       display_level  sort_sequence
count     399.000000     399.000000
mean        3.192982     200.000000
std         1.817102     115.325626
min         0.000000       1.000000
25%         2.000000     100.500000
50%         3.000000     200.000000
75%         4.000000     299.500000
max         8.000000     399.000000

In [21]:
df.iloc[1:,:3]

,item_code,item_name,display_level
1,AA0R,Purchasing power of the consumer dollar - old ...,0
2,SA0,All items,0
3,SA0E,Energy,1
4,SA0L1,All items less food,1
5,SA0L12,All items less food and shelter,1
...,...,...,...
394,SS68023,Tax return preparation and other accounting fees,4
395,SSEA011,College textbooks,3
396,SSFV031A,Food at elementary and secondary schools,3
397,SSGE013,Infants' equipment,3
398,SSHJ031,Infants' furniture,3

In [22]:
df.iloc[:,:].values

array([['AA0', 'All items - old base', 0, 'T', 2],
       ['AA0R', 'Purchasing power of the consumer dollar - old base', 0,
        'T', 399],
       ['SA0', 'All items', 0, 'T', 1],
       ...,
       ['SSFV031A', 'Food at elementary and secondary schools', 3, 'T',
        122],
       ['SSGE013', "Infants' equipment", 3, 'T', 355],
       ['SSHJ031', "Infants' furniture", 3, 'T', 165]], dtype=object)

In [31]:
df["display_level"].value_counts()

3    113
2     70
1     66
4     43
6     37
5     37
7     18
0     12
8      3
Name: display_level, dtype: int64

In [23]:
df.isnull().sum()

item_code        0
item_name        0
display_level    0
selectable       0
sort_sequence    0
dtype: int64

In [26]:
df["item_name"].unique()

array(['All items - old base',
       'Purchasing power of the consumer dollar - old base', 'All items',
       'Energy', 'All items less food', 'All items less food and shelter',
       'All items less food, shelter, and energy',
       'All items less food, shelter, energy, and used cars and trucks',
       'All items less food and energy', 'All items less shelter',
       'All items less medical care', 'All items less energy',
       'Purchasing power of the consumer dollar', 'Apparel less footwear',
       'Apparel', "Men's and boys' apparel", "Women's and girls' apparel",
       'Commodities', 'Energy commodities', 'Commodities less food',
       'Commodities less food and beverages',
       'Commodities less food and energy commodities',
       'Commodities less food, energy, and used cars and trucks',
       'Durables', 'Education and communication', 'Education',
       'Communication', 'Information and information processing',
       'Education and communication commodities',
       'Education and communication services', 'Food and beverages',
       'Food', 'Food at home', 'Cereals and bakery products',
       'Meats, poultry, fish, and eggs', 'Meats, poultry, and fish',
       'Meats', 'Fruits and vegetables', 'Fresh fruits and vegetables',
       'Nonalcoholic beverages and beverage materials',
       'Other food at home', 'Alcoholic beverages',
       'Other goods and services', 'Personal care', 'Other goods',
       'Other personal services', 'Housing', 'Shelter',
       'Fuels and utilities', 'Household energy',
       'Household furnishings and operations',
       'Household furnishings and supplies', 'Medical care',
       'Medical care commodities', 'Medical care services', 'Nondurables',
       'Domestically produced farm food', 'Nondurables less food',
       'Nondurables less food and beverages',
       'Nondurables less food, beverages, and apparel',
       'Nondurables less food and apparel', 'Recreation',
       'Recreation commodities', 'Recreation services', 'Services',
       'Utilities and public transportation', 'Rent of shelter',
       'Other services', 'Transportation services',
       'Services less rent of shelter',
       'Services less medical care services',
       'Services less energy services', 'Transportation',
       'Private transportation',
       'Transportation commodities less motor fuel', "Men's apparel",
       "Men's suits, sport coats, and outerwear",
       "Men's underwear, nightwear, swimwear and accessories",
       "Men's shirts and sweaters", "Men's pants and shorts",
       "Boys' apparel", "Women's apparel", "Women's outerwear",
       "Women's dresses", "Women's suits and separates",
       "Women's underwear, nightwear, swimwear and accessories",
       "Girls' apparel", 'Footwear', "Men's footwear",
       "Boys' and girls' footwear", "Women's footwear",
       "Infants' and toddlers' apparel", 'Jewelry and watches', 'Watches',
       'Jewelry', 'Educational books and supplies',
       'Tuition, other school fees, and childcare',
       'College tuition and fees',
       'Elementary and high school tuition and fees',
       'Day care and preschool',
       'Technical and business school tuition and fees',
       'Postage and delivery services', 'Postage', 'Delivery services',
       'Telephone services', 'Wireless telephone services',
       'Land-line telephone services',
       'Information technology, hardware and services',
       'Computers, peripherals, and smart home assistants',
       'Computer software and accessories',
       'Internet services and electronic information providers',
       'Telephone hardware, calculators, and other consumer information items',
       'Information technology commodities',
       'Cereals and cereal products', 'Flour and prepared flour mixes',
       'Breakfast cereal', 'Rice, pasta, cornmeal', 'Bakery products',
       'Bread', 'Fresh biscuits, rolls, muffins',
       'Cakes, cupcakes, and cookies', 'Other bakery products',
       'Beef and veal', 'Uncooked ground beef', 'Uncooked beef roasts',
       'Uncooked beef steaks', 'Uncooked other beef and veal', 'Pork',
       'Bacon, breakfast sausage, and related products', 'Ham',
       'Pork chops', 'Other pork including roasts, steaks, and ribs',
       'Other meats', 'Poultry', 'Chicken',
       'Other uncooked poultry including turkey', 'Fish and seafood',
       'Fresh fish and seafood', 'Processed fish and seafood', 'Eggs',
       'Dairy and related products', 'Milk',
       'Cheese and related products', 'Ice cream and related products',
       'Other dairy and related products', 'Fresh fruits', 'Apples',
       'Bananas', 'Citrus fruits', 'Other fresh fruits',
       'Fresh vegetables', 'Potatoes', 'Lettuce', 'Tomatoes',
       'Other fresh vegetables', 'Processed fruits and vegetables',
       'Canned fruits and vegetables', 'Frozen fruits and vegetables',
       'Other processed fruits and vegetables including dried',
       'Juices and nonalcoholic drinks', 'Carbonated drinks',
       'Frozen noncarbonated juices and drinks',
       'Nonfrozen noncarbonated juices and drinks',
       'Beverage materials including coffee and tea', 'Coffee',
       'Other beverage materials including tea', 'Sugar and sweets',
       'Sugar and sugar substitutes', 'Candy and chewing gum',
       'Other sweets', 'Fats and oils', 'Butter and margarine',
       'Salad dressing', 'Other fats and oils including peanut butter',
       'Other foods', 'Soups', 'Frozen and freeze dried prepared foods',
       'Snacks', 'Spices, seasonings, condiments, sauces', 'Baby food',
       'Other miscellaneous foods', 'Food away from home',
       'Full service meals and snacks',
       'Limited service meals and snacks',
       'Food at employee sites and schools',
       'Food from vending machines and mobile vendors',
       'Other food away from home', 'Alcoholic beverages at home',
       'Beer, ale, and other malt beverages at home',
       'Distilled spirits at home', 'Wine at home',
       'Alcoholic beverages away from home',
       'Tobacco and smoking products', 'Cigarettes',
       'Tobacco products other than cigarettes', 'Personal care products',
       'Hair, dental, shaving, and miscellaneous personal care products',
       'Cosmetics, perfume, bath, nail preparations and implements',
       'Personal care services',
       'Haircuts and other personal care services',
       'Miscellaneous personal services', 'Legal services',
       'Funeral expenses', 'Laundry and dry cleaning services',
       'Apparel services other than laundry and dry cleaning',
       'Financial services', 'Miscellaneous personal goods',
       'Rent of primary residence', 'Lodging away from home',
       'Housing at school, excluding board',
       'Other lodging away from home including hotels and motels',
       "Owners' equivalent rent of residences",
       "Owners' equivalent rent of primary residence",
       "Tenants' and household insurance", 'Fuel oil and other fuels',
       'Fuel oil', 'Propane, kerosene, and firewood', 'Energy services',
       'Electricity', 'Utility (piped) gas service',
       'Water and sewer and trash collection services',
       'Water and sewerage maintenance', 'Garbage and trash collection',
       'Window and floor coverings and other linens', 'Floor coverings',
       'Window coverings', 'Other linens', 'Furniture and bedding',
       'Bedroom furniture',
       'Living room, kitchen, and dining room furniture',
       'Other furniture', 'Appliances', 'Major appliances',
       'Other appliances', 'Other household equipment and furnishings',
       'Clocks, lamps, and decorator items', 'Indoor plants and flowers',
       'Dishes and flatware', 'Nonelectric cookware and tableware',
       'Tools, hardware, outdoor equipment and supplies',
       'Tools, hardware and supplies', 'Outdoor equipment and supplies',
       'Housekeeping supplies', 'Household cleaning products',
       'Household paper products', 'Miscellaneous household products',
       'Household operations', 'Domestic services',
       'Gardening and lawncare services',
       'Moving, storage, freight expense', 'Repair of household items',
       'Professional services', "Physicians' services", 'Dental services',
       'Eyeglasses and eye care',
       'Services by other medical professionals',
       'Hospital and related services', 'Hospital services',
       'Nursing homes and adult day services',
       'Care of invalids and elderly at home', 'Health insurance',
       'Medicinal drugs', 'Prescription drugs', 'Nonprescription drugs',
       'Medical equipment and supplies', 'Video and audio', 'Televisions',
       'Cable and satellite television service', 'Other video equipment',
       'Video discs and other media, including rental of video',
       'Audio equipment', 'Recorded music and music subscriptions',
       'Video and audio products', 'Video and audio services',
       'Pets, pet products and services', 'Pets and pet products',
       'Pet services including veterinary', 'Sporting goods',
       'Sports vehicles including bicycles', 'Sports equipment',
       'Photography', 'Photographic equipment and supplies',
       'Photographers and photo processing', 'Other recreational goods',
       'Toys', 'Sewing machines, fabric and supplies',
       'Music instruments and accessories', 'Other recreation services',
       'Club membership for shopping clubs, fraternal, or other organizations, or participant sports fees',
       'Admissions', 'Fees for lessons or instructions',
       'Recreational reading materials', 'Newspapers and magazines',
       'Recreational books', 'New and used motor vehicles',
       'New vehicles', 'Used cars and trucks', 'Leased cars and trucks',
       'Car and truck rental', 'Motor fuel', 'Gasoline (all types)',
       'Other motor fuels', 'Motor vehicle parts and equipment', 'Tires',
       'Vehicle accessories other than tires',
       'Motor vehicle maintenance and repair', 'Motor vehicle body work',
       'Motor vehicle maintenance and servicing', 'Motor vehicle repair',
       'Motor vehicle insurance', 'Motor vehicle fees',
       'State motor vehicle registration and license fees',
       'Parking and other fees', 'Public transportation', 'Airline fares',
       'Other intercity transportation', 'Intracity transportation',
       'Rice', 'White bread', 'Bread other than white',
       'Fresh cakes and cupcakes', 'Cookies',
       'Fresh sweetrolls, coffeecakes, doughnuts',
       'Crackers, bread, and cracker products',
       'Frozen and refrigerated bakery products, pies, tarts, turnovers',
       'Bacon and related products',
       'Breakfast sausage and related products', 'Ham, excluding canned',
       'Frankfurters', 'Lamb and organ meats', 'Lamb and mutton',
       'Lunchmeats', 'Fresh whole chicken',
       'Fresh and frozen chicken parts', 'Shelf stable fish and seafood',
       'Frozen fish and seafood', 'Fresh whole milk',
       'Fresh milk other than whole', 'Butter',
       'Oranges, including tangerines', 'Canned fruits',
       'Frozen vegetables', 'Canned vegetables',
       'Dried beans, peas, and lentils', 'Margarine', 'Peanut butter',
       'Roasted coffee', 'Instant coffee',
       'Salt and other seasonings and spices',
       'Olives, pickles, relishes', 'Sauces and gravies',
       'Other condiments', 'Prepared salads', 'Whiskey at home',
       'Distilled spirits, excluding whiskey, at home',
       'Beer, ale, and other malt beverages away from home',
       'Wine away from home', 'Distilled spirits away from home',
       'Land-line interstate toll calls',
       'Land-line intrastate toll calls', 'Laundry equipment',
       'Video discs and other media',
       'Video game hardware, software and accessories',
       'Stationery, stationery supplies, gift wrap', 'New cars',
       'New cars and trucks', 'New trucks', 'New motorcycles',
       'Gasoline, unleaded regular', 'Gasoline, unleaded midgrade',
       'Gasoline, unleaded premium', 'Motor oil, coolant, and fluids',
       'Vehicle parts and equipment other than tires',
       'Parking fees and tolls', 'Intercity bus fare',
       'Intercity train fare', 'Ship fare', 'Intracity mass transit',
       'Inpatient hospital services', 'Outpatient hospital services',
       'Toys, games, hobbies and playground equipment',
       'Film and photographic supplies', 'Photographic equipment',
       'Pet food', 'Purchase of pets, pet supplies, accessories',
       'Automobile service clubs',
       'Admission to movies, theaters, and concerts',
       'Admission to sporting events', 'Photographer fees',
       'Photo Processing', 'Pet services', 'Veterinarian services',
       'Rental of video discs and other media',
       'Checking account and other bank services',
       'Tax return preparation and other accounting fees',
       'College textbooks', 'Food at elementary and secondary schools',
       "Infants' equipment", "Infants' furniture"], dtype=object)